body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

h1,
.results {
  font-size: 60px;
}

.results {
  margin-top: 25px;
  margin-bottom: 25px;
}

button {
  font-size: 40px;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 500px;
  height: 500px;
}

.grid-item {
  background-color: white;
  border: 1px solid black;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 90px;
}

